{% extends 'base.html' %}

{% block title %}User Detail{% endblock %}
    
{% block content %}
    <div class="container">
        <h1 class="text-center display-5">Hello {{user.last_name}}, {{user.first_name}}</h1>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1>{{user.first_name}}'s info</h1>
                <ul>
                    <li>username: {{user.username}}</li>
                    <li>Email: {{user.email}}</li>
                    <li>First Name: {{user.first_name}}</li>
                    <li>Last Name: {{user.last_name}}</li>
                </ul>

                {% if user.feedbacks %}
                    <h1>{{user.first_name}}'s feedbacks</h1>
                    <ul>
                        {% for feedback in user.feedbacks %}
                            <li>
                                {{feedback.title}} - 
                                <small>{{feedback.content}}</small>
                                <form style="display: inline">
                                    {{form.hidden_tag()}}
                                    <button class="btn-sm btn-primary my-1" formaction="/feedback/{{feedback.id}}/update" formmethod="GET">Edit</button>
                                    <button class="btn-sm btn-danger my-1" formaction="/feedback/{{feedback.id}}/delete" formmethod="POST">Delete</button>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <a href="/users/{{user.username}}/feedback/add">Add feedback</a>
                <form action="/">
                    <button class="btn btn-danger btn-xs my-1" formaction="/users/{{user.username}}/delete" formenctype="POST">Delete User</button>
                </form>
            </div>
        </div>
    </div>
{% endblock%}