{% extends 'base.html' %}

{% block title %}Register Page{% endblock %}
    
{% block content %}
    <div class="container">
        <h1 class="text-center display-5">Registration Form</h1>
        <p class="text-center lead">Register to join our application! Already have an account? <a href="/login">Login here</a></p>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="POST">
                    {{form.hidden_tag()}}
                    {% for field in form if field.widget.input_type != 'hidden'%}
                        <div class="form-group">
                            {{field.label}}: 
                            {{field(class_="form-control")}}
                            {% for err in field.errors %}
                                <small class="form-text text-danger">
                                    {{err}}
                                </small>
                            {% endfor%}
                        </div>
                    {% endfor %}
                    <button class="btn btn-success">Register</button>
                </form> 
            </div>
        </div>
    </div>
{% endblock%}